<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- подключение к БД -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sports_center</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <!-- данные сохраняются между перезапусками -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- логи -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.example.sportcenter.entity.Client"/>
        <mapping class="com.example.sportcenter.entity.Visitor"/>
        <mapping class="com.example.sportcenter.entity.Employee"/>
        <mapping class="com.example.sportcenter.entity.ServiceOffer"/>
        <mapping class="com.example.sportcenter.entity.Facility"/>
        <mapping class="com.example.sportcenter.entity.Visit"/>
        <mapping class="com.example.sportcenter.entity.Reservation"/>



    </session-factory>
</hibernate-configuration>
